<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meadowlark Travel</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    {{{_sections.head}}}
</head>
<body>
<header>
    <img src="/img/logo.png" alt="Logo Meadowlark Travel">
</header>
    {{{body}}}
    {{> weather}}
<h1>Strona testowa</h1>
<p>Testujemy pewien skrypt.</p>
{{{_sections.scripts}}}
</body>
</html>

